body {
    background: linear-gradient(135deg, #6a5acd, #00bcd4);
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: center;
    margin: 0;
}

.container {
    margin-top: 60px;
}

input, button {
    padding: 12px 18px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

input {
    width: 250px;
}

button {
    background: #ffffff;
    color: #333;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.05);
}

.hidden {
    display: none;
}

#wordDisplay {
    font-size: 28px;
    margin-top: 20px;
    font-weight: bold;
}

.vote-btn {
    background: #fff;
    color: #333;
    padding: 10px 20px;
    margin: 8px;
    border-radius: 8px;
    cursor: pointer;
}
